site_name: CodeNOW CLI
site_url: https://codenow-com.github.io/codenow-cli/

theme:
  name: material
  language: en

  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.top
    - content.code.copy
    - content.code.annotate
    - search.highlight
    - search.suggest

  palette:
    - scheme: default
      primary: blue
      accent: cyan
      toggle:
        icon: material/weather-night
        name: Dark mode

    - scheme: slate
      primary: blue
      accent: cyan
      toggle:
        icon: material/weather-sunny
        name: Light mode

  icon:
    logo: material/console

nav:
  - Home: index.md
  - Install: install.md
  - Quickstart: quickstart.md
  - Commands:
      - Overview: commands/index.md